<h1>Dashboard</h1>
<div class="buttons">
    <button routerLink="/create">Add New</button>
    <button routerLink="/login"> Logout</button>
</div>

<h3>List Of Articles</h3>

<div class="list">
    <table>
        <thead>
          <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>1</td>
              <td>Backend Tech</td>
              <td>2024/05/1</td>
              <td>
                <a href="#" routerLink="/edit">Modify</a>
                <a href="#">Delete</a>
              </td>
            </tr>
          
            
              <tr>
                <td>2</td>
                <td>Essential tips</td>
                <td>2024/02/1</td>
                <td>
                  <a href="#"  routerLink="/edit">Modify</a>
                  <a href="#">Delete</a>
                </td>
              </tr>
            
              <tr>
                <td>3</td>
                <td>Mastering Frontend</td>
                <td>2024/02/4</td>
                <td>
                  <a href="#"  routerLink="/edit">Modify</a>
                  <a href="#">Delete</a>
                </td>
              </tr>
            
          </tbody>
      </table>
</div>
