<h1>Add New Post</h1>
<div class="box">
    <textarea name="" id="" cols="30" rows="1">Title</textarea>
    <div class="two">
        <textarea name="" id="" cols="15" rows="1">Author</textarea>
        <select name="categories" id="categories">
            <option value="Categories">Categories</option>
            <option value="Business">Business</option>
            <option value="School">School</option>
            <option value="Private">Private</option>
        </select>
    </div>

    <div class="image">
        <img src="" alt="photo">
    </div>
</div>
<div class="text">
    <textarea name="Description" id="" cols="30" rows="10">Description</textarea>
</div>
<button routerLink="/dashboard">Add Post</button>